
{erl_opts, [
	{parse_transform, lager_transform}
]}.

{port_specs, [
    {"priv/algo_wrap.so", ["c_src/algo_wrap.c", "c_src/lib/*.cpp"]}
]}.

{port_env,  [{"CXXFLAGS", "$CXXFLAGS -lstdc++"},
             {"CC",  "g++"},
             {"CXX", "g++"}]}.

{eunit_opts, [verbose,
   {report, {eunit_surefire, [{dir, "test"}]}}]}.

{deps, [
	{lager, ".*", 
		{git, "git://github.com/basho/lager.git", "master"}},
	{cowboy, ".*",
		{git, "git://github.com/extend/cowboy.git", "master"}},
        {jsonx, ".*",
                {git, "git://github.com/iskra/jsonx.git", "master"}},
        {epgsql, ".*",
                {git, "git://github.com/wg/epgsql.git", "master"}}
]}.
