
{erl_opts, [
            {i, "include/records.hrl"},
            {parse_transform, lager_transform}
]}.


{eunit_opts, [verbose,
   {report, {eunit_surefire, [{dir, "test"}]}}]}.

{deps, [
	{lager, ".*", 
		{git, "git://github.com/basho/lager.git", "master"}},
	{cowboy, ".*",
		{git, "git://github.com/extend/cowboy.git", "master"}},
        {jsonx, ".*",
                {git, "git://github.com/iskra/jsonx.git", "master"}},
        {epgsql, ".*",
                {git, "git://github.com/wg/epgsql.git", "master"}}
]}.
